// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/

//Cambio color fondo tab
$tabs-background: #FE8200;
//Cambio color iconos tab
$tabs-tab-color-active: #FFF;
//Cambiamos color de fondo toolbar
$toolbar-background: #FE8200;


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

//Colores de REPSOL
//AZUL OSCURO --> #091742
//NARANJA --> #FE8200
//GRIS --> #6B5D54
//ROJO --> #DA1B2F
//Azul web repsol --> #00859B;

// $colors: (
//   primary:    #488aff,//azul claro
//   secondary:  #32db64,//verde
//   danger:     #f53d3d,//rojo
//   light:      #f4f4f4,//gris claro
//   dark:       #222,
//   repsol: (
//   	base:	#6B5D54,//naranja
//   	contrast:  #FFF//azuloscuro
//   )
// );

$colors: (
  primary:    #FE8200,//naranja
  secondary:  #091742,//azul oscuro
  danger:     #DA1B2F,//rojo
  light:      #6B5D54,//gris
  dark:       #222,
  colorTab: (
  	base:	#6B5D54,//naranja
  	contrast:  #FFF//blanco
  )
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
