// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
ion-icon {
    &[class*="flagcountry-"] {
        // Instead of using the font-based icons
        // We're applying SVG masks
        mask-size: contain;
        mask-position: 50% 50%;
        mask-repeat: no-repeat;
        background: currentColor;
        width: 1em;
        height: 1em;
		margin: 5px;
    }
    // custom icons
    &[class*="flagcountry-es"] {
        background: url(../assets/imgs/spain.svg) 50% 50% no-repeat;
    }
    &[class*="flagcountry-en"] {
        background: url(../assets/imgs/united-kingdom.svg) 50% 50% no-repeat;
    }
    
}

//Definimos los tipos de letra de REPSOL y los utilizamos en toda la app
//Cambiando en theme/variables.css las variables $font-family-base y $font-family-ios-base
@font-face {
    font-family: "Repsol";
    src: url("../assets/fonts/Repsol/Repsol-Regular.ttf") format('truetype');
}
@font-face {
    font-family: "Repsol";
    src: url("../assets/fonts/Repsol/Repsol-Bold.ttf") format('truetype');
    font-weight: bold;
}
@font-face {
    font-family: "Repsol";
    src: url("../assets/fonts/Repsol/Repsol-Light.ttf") format('truetype');
    font-weight: lighter;
}
@font-face {
    font-family: "Repsol";
    src: url("../assets/fonts/Repsol/Repsol-Italic.ttf") format('truetype');
    font-style: italic;
}
@font-face {
    font-family: "Repsol";
    src: url("../assets/fonts/Repsol/Repsol-Bold Italic.ttf") format('truetype');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: "Repsol";
    src: url("../assets/fonts/Repsol/Repsol-Light Italic.ttf") format('truetype');
    font-weight: lighter;
    font-style: italic;
}
