page-formulario {
	.cardFoto{
		width: calc(33% - 12px);
		margin: 15px auto;
	}
	.card-title-ios, .card p{
		color: #091742;
		font-weight: bold;
	}

	.card p{
		color: #6B5D54;
		font-style: italic
	}	

	ion-input{
		color: #091742;
	}

	ion-label{
		color: #FE8200;
		font-weight: bold;
	}
		
	.itemFoto{
		border: 1px solid black;
		padding: 16px;
		width: calc(100% - 32px);
		margin-left: 16px;
		height: 170px;
	}

	.validator-error{
		color: #DA1B2F;
		margin-left: 15px;
	}
	.validator-info{
		color: #00859B;
		margin-left: 15px;
	}
}
