<!--
  Generated template for the FormularioPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ 'TituloNavBarForm' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<!--Toma de fotogorafía-->
	<ion-card class="cardFoto">
	  <ion-card-title text-center>
	      {{ 'Foto' | translate }}
	  </ion-card-title>
	  <div class="itemFoto">
	  	<img *ngIf="foto" [src]="foto"/>
	  </div>
	  <ion-card-content>		
		<button ion-button type="button" block small (click)="capturarFoto()">{{ 'BotonFoto' | translate }}</button>
		<p text-center *ngIf="!fotoCapturada">{{ 'TextoInfoFoto' | translate }}</p>
	  </ion-card-content>
	</ion-card>
	
	<!--Titulo Formulario-->
	<h2 class="titleForm">{{ 'TituloForm' | translate }}</h2>
	<!--Formulario con data driven forms (FORM BUILDER)-->
	<form class="formulario" [formGroup]="formularioAcceso" (ngSubmit)="enviarForm()">
		<ion-list>
			<ion-item>
				<ion-label floating>{{ 'Nombre' | translate }}</ion-label>
				<ion-input type="string" formControlName="nombre" ></ion-input>
			</ion-item>
			<div class="validator-info" *ngIf="formularioAcceso.controls.nombre.hasError('required')">
				  {{ 'CampoObligatorio' | translate }}
			</div>
			<div class="validator-error" *ngIf="formularioAcceso.controls.nombre.hasError('pattern')">
				 {{ 'ValidacionNombre' | translate }}
			</div>
			<ion-item>
				<ion-label floating>{{ 'Apellido1' | translate }}</ion-label>
				<ion-input type="string" formControlName="apellido1" ></ion-input>
			</ion-item>
			<div class="validator-info" *ngIf="formularioAcceso.controls.apellido1.hasError('required')">
				  {{ 'CampoObligatorio' | translate }}
			</div>
			<div class="validator-error" *ngIf="formularioAcceso.controls.apellido1.hasError('pattern')">
				  {{ 'ValidacionApellido' | translate }}
			</div>			
			<ion-item>
				<ion-label floating>{{ 'Apellido2' | translate }}</ion-label>
				<ion-input type="string" formControlName="apellido2"></ion-input>
			</ion-item>
			<div class="validator-error" *ngIf="formularioAcceso.controls.apellido2.hasError('pattern')">
				  {{ 'ValidacionApellido' | translate }}
			</div>	
			<ion-item>
				<ion-label floating>{{ 'Identidad' | translate }}</ion-label>
				<ion-input type="string" formControlName="identidad"></ion-input>
			</ion-item>
			<div class="validator-info" *ngIf="formularioAcceso.controls.identidad.hasError('required')">
				  {{ 'CampoObligatorio' | translate }}
			</div>
			<div class="validator-error" *ngIf="formularioAcceso.controls.identidad.hasError('notValidNifNiePassport')">
				  {{ 'ValidacionIdentidad' | translate }}
			</div>						
			<ion-item>
				<ion-label floating>{{ 'Email' | translate }}</ion-label>
				<ion-input type="email" formControlName="email"></ion-input>
			</ion-item>
			<div class="validator-info" *ngIf="formularioAcceso.controls.email.hasError('required')">
				  {{ 'CampoObligatorio' | translate }}
			</div>
			<div class="validator-error" *ngIf="formularioAcceso.controls.email.hasError('notValidEmail')">
				  {{ 'ValidacionEmail' | translate }}
			</div>			
			<ion-item>
				<button ion-button type="submit" block large>{{ 'BotonSiguiente' | translate }}</button>
			</ion-item>

		</ion-list>

	</form>

</ion-content>
